/* ========================================================================================= */
/* OBJECT - O ICONS */
/* ========================================================================================= */

.o-icon {

    &-menu {
        color: white;
        cursor: pointer;
        transition: $transition-slow;
        margin: 0 .5rem;

        &:hover {
            color: $hover-color;
        }

        &--trigger {
            font-size: 2rem;
            position: absolute;
            right: .5rem;
            top: 1rem;
            
            @include md() {
                display: none;
              }
        }
    }


    &--lg {
        font-size: 3rem;

        @include md() {
           font-size: 4.5rem; 
        }
    }
}


/* ========================================================================================= */
/* END OBJECT - O ICONS */
/* ========================================================================================= */

