/* ========================================================================================= */
/* COMPONENT -Catálogo*/
/* ========================================================================================= */
.c-catalogo {
 
    // variables locales
    $padding-filter: .2rem 1.5rem .5rem;

    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 380px;

    @include sm() {
        max-width: 710px;
    }

    @include md() {
        max-width: 990px;
        flex-direction: row;
        flex-wrap: wrap;
    }


    @include lg() {
        max-width: 98%;
        max-width: 1200px;
     }


    &__control {

        @include md() {
            position: sticky;
            top: 100px;
            width: 21%;
        }

    }


    &__control-content {
        background-color: rgba($tool-color, .2);
        border: 0
    }

    
    &__container {
        width: 100%;

        @include sm {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            width: 95%;
        }

        @include md() { 
            justify-content: flex-start;
            width: 74%;
        }

    }


    &__container--promo {
        margin-top: 2rem;
        width:360px;

        @include sm {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 2rem auto;
            width: 95%;
        }

        @include md() { 
            margin-top: 3rem;
            width: 85%;
        }

    }


    &__head--promo {
        width: 100%;
        padding: 0 0 2rem;
    }


    &__tittle--promo {
        font-family: "Tittle-bold";
        font-size: .9rem;


        @include md() { 
            font-size: 1.4rem;
        }
    }


    &__content-filter {
        border-top: 1px solid white;
        border: 0;
        color: $text-color;
        padding: .5rem .75rem;

        @include md() { 
            padding: 1rem 0rem;
        }

    }


    &__title-filter {
        display: block;
        padding: $padding-filter;
    }


    &__input-group {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: $padding-filter;
        position: relative;
        transition: $transition-slow;

        &:hover {
            color: $hover-color;
        }

    }


    &__icon {
        width: 1.1rem;
        opacity: 0.5;
    }


    &__checkbox {
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 1;

        &:checked  ~ .c-catalogo__icon {
            opacity: 0;
        }

        &:checked  ~ label {
            position: relative;

            &:before {
                color: $main-color;
                content: "\f00c";
                font-family: "FontAwesome";
                left: -1.5rem;
                position: absolute;

            }

        }

        &:checked ~ .c-catalogo__counter {
            background-color: $main-color;
            color: white;
        }

    }


    &__label {
        margin: .5rem 0 0 .75rem;
        cursor: pointer;
        line-height: 1.3;
        font-size: .9rem;
    }


    &__counter {
        background-color: rgba( $tool-color, .1);
        border-radius: 50%;
        color: $main-color;
        height: 1.75rem;
        position: absolute;
        right: 1rem;
        text-align: center;
        top: .7rem;
        width: 1.75rem;
    }


    &__number {
        line-height: 1.8;
    }


    &__btn-reset {
        display: block;
        margin-bottom: 2rem;
        margin: 1rem auto 2rem;
        max-width: 85%;
    }

    &__page-lits {
        width: 100%;
    }

}
/* ========================================================================================= */
/* END COMPONENT -Catálogo*/
/* ========================================================================================= */
