/* ========================================================================================= */
/* COMPONENT -descript-curso*/
/* ========================================================================================= */
.c-descript-curso {
    color: $text-color;
    font-family: 'Paragraph-regular';
    font-size: .95rem;
    margin-bottom: 1rem;
    line-height: 1.6;

    @include md() {
        font-size: 1.1rem;
        line-height: 1.9;
        margin-bottom: 2rem;
    }

    a {
        color: $main-color;

        &:hover {
            color: $hover-color;
        }
    }

    
    h1, h2, h3, h4 {
         font-size: 1rem;
         font-family: 'Tittle-regular';
         margin: 1.25rem 0 .5rem;


         @include md() {
            font-size: 1.2rem;
            margin: 1.75rem 0 0;
         }
    }


    ul {
        box-sizing: border-box;
        flex-direction: column;
        list-style: circle;
        margin-top: .5rem;
        padding: 1rem;
    }


    li {
        font-size: .95rem;
        margin: 1rem;
        display: block;
        line-height: 1.3;

         @include md() {
            font-size: 1.1rem;
            margin: .5rem 0 0;
         }
    }

    ol {
        list-style: none;
        counter-reset: item;
        padding-left: 0;

        @include md() {
            padding-left: 2.5rem;
        }

        li {
            max-width: 100%;
            counter-increment: item;
            margin-bottom: 1.5rem;
            position: relative;
            
            @include md() {
                max-width: 80%;
            }
    
          }
          
          li:before {
            content: counter(item);
            background: $main-color;
            border-radius: 100%;
            color: white;
            width: 2.5rem;
            padding-top: .2rem;
            text-align: center;
            display: inline-block;
            position: absolute;
            left: -2.5rem;

            @include md() {
                width: 1.8rem;
            }

          }

      }

}

/* ========================================================================================= */
/* END COMPONENT -descript-curso*/
/* ========================================================================================= */
