/* ========================================================================================= */
/* COMPONENT - Error 404 */
/* ========================================================================================= */
.error-404 {

    margin-top: 2rem;

    @include md() {
        margin-top: 7rem;
    }


    &__link {
        width: 100%;
    }


    &__img {
        margin: auto;
    }

}

/* ========================================================================================= */
/* END COMPONENT - Error 404*/
/* ========================================================================================= */
