/* ========================================================================================= */
/* COMPONENT - Modal*/
/* ========================================================================================= */

.c-modal {

    $shadow-box: rgb( 0, 0, 0, 30%);

    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;   
    opacity: 0;
    right: 0;
    top: 0;
    transition: $transition-slow;
    z-index: 13;


    &--show {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 13;
    }


    &__content {
        transition: $transition-slow;
        transform: translate(0,-25%);
        opacity: 0;
        background-color: white;
        border-radius: $border-radius;
        color: $text-color;
        margin: .4rem;
        max-width: 100%;
        position: relative;
        border: 1px solid rgba(0,0,0,.2);
        z-index: 18;

        @include sm() {
            max-width: 500px;
            margin: 1.75rem auto;
        }

    }

    &__content--lg {
        @include sm() {
            max-width: 720px;
        }
    }


    &__content--show {
       transform: translate(0,0); 
       opacity: 1;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
    }


    &__header {
        font-size: 1.1rem;
        font-family: 'Tittle-bold';
        box-sizing: border-box;
        padding: 1.333rem  1.3333rem .5rem;
        position: relative;

         @include md() {
            font-size: 1.3rem;
            padding: 2rem 2.5rem 0.75rem;
         }

    }


    &__btn-close {
        position: absolute;
        right: .75rem;
        top: .75rem;
    }


    &__body {
        box-sizing: border-box;
        padding: 0 1.333rem ;

        @include md() {
            font-size: 1.333rem;
            padding: 0 2.5rem ;
         }

    }


    &__content-text {
        font-family: "Paragraph-regular";
        font-size: 0.98rem;
        line-height: 1.6;
        margin: 0 0 .5rem;

        @include md() {
            font-size: 1.1rem;
            line-height: 1.5;
            margin: 0 0 .75rem;
        }

    }


    &__footer {
        box-sizing: border-box;
        padding: 0.5rem 2.5rem 3rem;
    }


    &__video {
        width: 100%;
        height: 22rem;
        margin-bottom: 2rem;
    }
}


.c-modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .3s ease;
    z-index: 12;

    &--show {
        opacity: .5;
    }
}

/* ========================================================================================= */
/* END COMPONENT -  MOdal*/
/* ========================================================================================= */
